.vscode/

src/
test/
coverage/
typings/

tslint.json
tsconfig.json

/*.config*

yarn*

.npmignore
.gitignore
.gitmodules

.travis.yml
.editorconfig

.tscache/
node_modules/
npm-shrinkwrap.json

/*.tgz
/*.txt