.vscode/

src/
tests/
dist/
coverage/
typings/
lib/tests

tslint.json
tsconfig.json

yarn*

.npmignore
.gitignore
.gitmodules

.travis.yml
.editorconfig

.tscache/
node_modules/
npm-shrinkwrap.json

/*.tgz
/*.txt